import BaseController from './baseController';
import {{uppercaseEntity}} from '../models/{{lowercaseEntity}}Model';

class {{uppercaseEntity}}Controller extends BaseController {
	//
}

export default new {{uppercaseEntity}}Controller();